<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("parts/head") %>
  <link rel="stylesheet" href="css/gallery.bog.style.css">

</head>

<body>

  <!-- start header -->
  <%- include("parts/header") %>

  <!-- partial:index.partial.html -->
  <div class="aboutus">

    <div class="container">
      <div class="row">
        <div class="col-md-6 pb-0 pr-0">
          <img src="/assets/images/serivces/Kachel_10.1.jpg" class="img-fluid" />
        </div>
        <div class="col-md-6 para">
          <h3> about us </h3>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id dolorum commodi libero molestias vero nulla natus nemo pariatur! Numquam sapiente quas, corrupti voluptas voluptate doloremque vero nam fugiat est. </p>
        </div>
      </div>
    </div>
  </div>


  <style>
    .aboutus {
      padding: 3em 0;
    }

    .aboutus h3 {
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    .aboutus p {
      line-height: 2;
      text-transform: capitalize;
    }

    .aboutus .para {
      padding: 8%;
      background-color: #f7f7f7;
    }
  </style>

  <!-- start footer -->
  <%- include("parts/footer") %>



  <%- include("parts/footer-links")  %>
  <script src="/js/photo.bog.image.js"></script>
  <script src="/js/serivces.js"></script>

</body>


</body>

</html>