<% if(lang === 'ger') {  %>
<div class="contact">
  <div class="container">
    <!-- start head section-->
    <% const title  = lang == 'ger' ? 'Kontaktiere uns': "contact us" %>
    <%- include("../section-head", { title: "Kontaktiere uns" }) %>
    <!-- start form -->
    <div class="body">
      <div class="container">
        <div class="row">
          <div class="col-md-4 info">
            <h4> Roland Gropp <br> ProEntertainment </h4>
            <div>
              MSc, MBA <br>
              <span class="group"> Roland Gropp </span>
            </div>

            <div class="address">
              Altvaterstraße 11 <br>
              85107 Baar-Ebenhausen <br>
              Deutschland

            </div>
            <ul class="list-unstyled">
              <li> <span> <i class="fas fa-fax"></i> Festnetz: </span> : +49-(0)-8453-336820 </li>
              <li> <span> <i class="fas fa-envelope"></i></i>Telefax </span> : +49-(0)-8453-336820 </li>
              <li> <span><i class="fas fa-mobile"></i> mobile </span> : +49-(0)-8453-336820 </li>
              <li> <span> <i class="fas fa-envelope-square"></i> email </span> :<a href="#"> info@creative-factor.com </a> </li>
              <li> <span><i class="fas fa-home"></i>home page </span> : <a href="#"> http://www.creative-factor.com
                </a> </li>
            </ul>
          </div>
          <div class="col-md-8">
            <form class="form">
              <div class="container">
                <div class="row">

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group form-floating">
                      <input class="form-control" placeholder="enter your name" id="username" name="username" />
                      <label for="username" class="text-capitalize">
                        Ihr Name/Firma *
                      </label>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group form-floating">
                      <input class="form-control" placeholder="your email" id="email" name="email" />
                      <label for="email" class="text-capitalize">
                        Ihre Email:*
                      </label>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group form-floating">
                      <input class="form-control" placeholder="your name" id="subject" name="subject" />
                      <label for="subject" class="text-capitalize">
                        Ihre Kontaktinformationen</label>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12">
                    <div class="form-group form-floating">
                      <textarea class="form-control" placeholder="your name" id="message" name="message"></textarea>
                      <label for="message" class="text-capitalize">
                        enter your message</label>
                    </div>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="terms" name="terms">
                    <label class="form-check-label" for="flexCheckChecked">
                      <a download name="sameh saued" href="<%-
                        lang === 'eng'
                        ? 'files\Terms-Condition\Creative_Factor_AGB_Roland_Gropp_ProEntertainment_08_Maerz_2023_ENG.pdf'
                        : 'files\Terms-Condition\Creative_Factor_AGB_Roland_Gropp_ProEntertainment_08_Maerz_2023_GER.pdf' %>"> terms and conditions </a>
                    </label>
                  </div>
                  <button type="button" class="btn text-capitalize">send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% } else {  %>
<div class="contact">
  <div class="container">
    <!-- start head section-->
    <%- include("../section-head", { title: "contact us" }) %>
    <!-- start form -->
    <div class="body">
      <div class="container">
        <div class="row">
          <div class="col-md-4 info">
            <h4> Roland Gropp <br> ProEntertainment </h4>
            <div>
              MSc, MBA <br>
              <span class="group"> Roland Gropp </span>
            </div>

            <div class="address">
              Altvaterstraße 11 <br>
              85107 Baar-Ebenhausen <br>
              Germany

            </div>
            <ul class="list-unstyled">
              <li> <span> <i class="fas fa-fax"></i> Landline </span> : +49-(0)-8453-336820 </li>
              <li> <span> <i class="fas fa-envelope"></i></i>fax </span> : +49-(0)-8453-336820 </li>
              <li> <span><i class="fas fa-mobile"></i> mobile </span> : +49-(0)-8453-336820 </li>
              <li> <span> <i class="fas fa-envelope-square"></i> email </span> :<a href="#"> info@creative-factor.com </a> </li>
              <li> <span><i class="fas fa-home"></i>home page </span> : <a href="#"> http://www.creative-factor.com

                </a> </li>
            </ul>
          </div>
          <div class="col-md-8">
            <form id="form" class="form">
              <div class="error">

              </div>
              <div class="container">

                <div class="row">

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group form-floating">
                      <input class="form-control" placeholder="enter your name" id="username" name="username" />
                      <label for="username" class="text-capitalize">
                        your name / company
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group form-floating">
                      <input class="form-control" placeholder="your email" id="email" name="email" />
                      <label for="email" class="text-capitalize">
                        your email
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group form-floating">
                      <input class="form-control" placeholder="your name" id="subject" name="subject" />
                      <label for="subject" class="text-capitalize">
                        enter subject</label>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <div class="form-group form-floating">
                      <textarea class="form-control" placeholder="your name" id="message" name="message"></textarea>
                      <label for="message" class="text-capitalize">
                        enter your message</label>
                    </div>
                  </div>
                  <div class="form-check d-flex ms-0">
                    <p class="accept terms" data-accept="false"></p>
                    <label class="form-check-label" for="terms">
                      <a download name="sameh saued" href="<%-
                        lang === 'eng'
                        ? 'files\Terms-Condition\Creative_Factor_AGB_Roland_Gropp_ProEntertainment_08_Maerz_2023_ENG.pdf'
                        : 'files\Terms-Condition\Creative_Factor_AGB_Roland_Gropp_ProEntertainment_08_Maerz_2023_GER.pdf' %>"> terms and conditions </a>
                    </label>
                  </div>
                  <button type="submit" class="btn text-capitalize">send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>