<div class="serivces">
  <div class="container">
    <!-- start haed section -->
    <%- include("../section-head", { title: "contact us" }) %>

    <div class="body">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-4 col-ms-12">
            <div class="item position-relative">
              <img class="img-fluid" src="images/serivces/1-sound-light.jpg" />
              <div class="overlay position-absolute left-0 right-0 top-0 bottom-0 text-light">
                <h4>our serivces</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-ms-12">
            <div class="item position-relative">
              <img class="img-fluid" src="images/serivces/2-recording-studio.jpg" />
              <div class="overlay position-absolute left-0 right-0 top-0 bottom-0 text-light d-flex">
                <h4>our serivces</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-ms-12">
            <div class="item position-relative">
              <img class="img-fluid" src="images/serivces/3-video-production.jpg" />
              <div class="overlay position-absolute left-0 right-0 top-0 bottom-0 text-light d-flex">
                <h4>our serivces</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="/serivces"> all serivces </a>
      </div>
    </div>
  </div>
</div>