body {
  line-height: auto !important;
}

:root {
  --mainColor: #001733;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid var(--mainColor);
}

.head {
  padding: 0.5em 0;
  text-align: center;
}
.head h2 {
  text-transform: capitalize;
  font-size: 42px;
  color: var(--mainColor);
}
.head div {
  text-align: center;
  padding: 3px 0 15px;
}
.head div > * {
  display: inline-block;
}
.head div .fa-headphones {
  font-size: 25px;
  margin: 0 10px;
  transform: translatey(5px);
  color: var(--mainColor);
}
.head div span {
  width: 100px;
  border-top: 2px solid var(--mainColor);
}

.notification {
  position: fixed;
  right: 20px;
  top: 20px;
  height: 60px;
  line-height: 60px;
  text-align: left;
  z-index: 160;
  font-size: 20px;
  border-radius: 4px;
  display: flex;
  background: #fff;
  width: 400px;
  align-items: center;
  padding: 0 32px;
  transition: transform 0.8s;
  transform: translatex(465px);
  background: #fff;
}
.notification p {
  text-transform: capitalize;
  font-size: 17px;
}
.notification path {
  color: inherit;
}

.show {
  transform: translate(0);
  transition: transform 1.4s;
}

.success {
  color: var(--bs-success);
  border-bottom: 4px solid var(--bs-success);
}
.success p {
  color: var(--bs-success);
}
.success svg {
  color: var(--bs-success);
  margin-right: 10px;
}

.danger {
  border-bottom: 4px solid var(--bs-danger);
}
.danger p {
  color: var(--bs-danger);
}
.danger svg {
  color: var(--bs-danger);
  margin-right: 10px;
}

input:not([type=email])::placeholder {
  text-transform: capitalize;
}

.form-floating > label {
  text-transform: capitalize !important;
}

/* pages */
*,
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Cairo", sans-serif;
}

.header {
  position: relative;
  height: 40%;
}
.header .banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  height: 42vh;
  background-position: 100% 63%;
}
.header .banner .position-relative {
  height: 100%;
}
.header .banner .position-relative .position-absolute {
  bottom: 0;
  left: 0;
  top: auto;
  padding-bottom: 30px;
  color: #fff;
}
.header .banner .position-relative .position-absolute h2 {
  font-size: 45px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
  font-family: "Lugrasimo", cursive !important;
}
.header .banner .position-relative .position-absolute div {
  letter-spacing: 2px;
  color: #fff;
}
.header .banner .position-relative .position-absolute div a {
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}
.header .banner .position-relative .position-absolute div a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.header .banner .position-relative .position-absolute div span {
  margin: 0 12px;
  color: #fff;
}
@media (max-width: 767.98px) {
  .header .banner {
    padding-left: 15px !important;
  }
}

.navbar {
  background: rgba(27, 55, 116, 0.7);
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar .navbar-toggler {
  border: 1px solid #fff;
}
.navbar .navbar-toggler svg path {
  color: #fff !important;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .social {
  margin-right: 15px;
  margin-top: 15px;
  backdrop-filter: blur(20%);
  right: 0;
  left: auto;
  min-width: 130px;
  padding: 5px;
}
.navbar .social a {
  margin-left: 7px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.navbar .social a svg {
  font-size: 50px;
  background-color: #fff;
}
@media (max-width: 767.98px) {
  .navbar .social a svg {
    font-size: 23px;
  }
}
.navbar .social a .fa-twitter-square {
  color: #248bd2;
}
.navbar .social a .fa-facebook-square {
  color: #315c9d;
}
.navbar .social a .fa-youtube-square {
  color: #dd6659;
}
.navbar .navbar-brand img {
  width: 340px;
}
@media (max-width: 767.98px) {
  .navbar .navbar-brand img {
    width: 200px;
  }
}
.navbar .navbar-nav {
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.navbar .navbar-nav .nav-item {
  position: static;
  text-transform: capitalize;
  background-color: transparent;
  font-size: 14px;
}
.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  z-index: 5;
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  transition: all 0.4s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-weight: 600;
  font-size: 14px;
}
.navbar .navbar-nav .nav-item .nav-link.active, .navbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: var(--mainColor);
    color: #fff;
  }
}
.navbar .navbar-nav .nav-item .nav-link:hover:after {
  width: 100%;
  opacity: 1;
}
.navbar .navbar-nav .nav-item .nav-link:hover:before {
  width: 4px;
  opacity: 1;
}
@media (min-width: 768px) {
  .navbar .navbar-nav .nav-item .nav-link {
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    border-right: 1px solid #ccc;
  }
}
.navbar > .dropdown {
  position: static;
}
.navbar > .dropdown .navbar-collapse > .dropdown-menu {
  min-width: 790px;
  padding: 23px 20px;
  position: absolute !important;
  top: 100%;
  border-top: 1px solid #ababab;
  z-index: 10;
}
@media (min-width: 768px) {
  .navbar > .dropdown .navbar-collapse > .dropdown-menu {
    padding: 13px 8px;
    margin-left: 50px !important;
  }
}
.navbar > .dropdown .navbar-collapse > .dropdown-menu .dropdown-item {
  font-size: 12px;
  padding-left: 4px;
  background: transparent !important;
}
.navbar > .dropdown .navbar-collapse > .dropdown-menu .dropdown-item:before {
  font-family: "fontAwesome";
  content: "\f105";
  margin-right: 8px;
  text-decoration: none !important;
}
.navbar > .dropdown .navbar-collapse > .dropdown-menu .dropdown-item.active, .navbar > .dropdown .navbar-collapse > .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: inherit;
}
@media (min-width: 768px) {
  .navbar > .dropdown .navbar-collapse > .dropdown-menu .dropdown-item .nav-link:hover {
    text-decoration: underline !important;
    background-color: transparent !important;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .navbar > .dropdown .navbar-collapse > .dropdown-menu .dropdown-item img {
    transform: translatey(-23px);
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar-collapse {
    position: absolute !important;
    top: 100%;
    right: 0;
    left: 0;
    background: #f8f9fa;
    z-index: 60;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid #ababab;
  }
  .navbar .navbar-collapse .navbar-toggler {
    padding-top: 6px;
    padding-bottom: 7px;
    background-color: #fff;
    border: 1px solid #fff;
  }
  .navbar .navbar-collapse .navbar-toggler:hover {
    outline: none;
    box-shadow: none;
  }
  .navbar .navbar-collapse .navbar-nav {
    paddiing: 0 !important;
    text-align: center;
    padding: 0;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #8e8e8e;
    text-align: center;
    margin: 0 !important;
    padding: 6px 12px;
    border-bottom: 1px dotted #ccc;
  }
  .navbar .navbar-collapse .dropdown-menu {
    padding-top: 2px;
    padding-bottom: 2px;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
  .navbar .navbar-collapse .dropdown-menu .dropdown-item {
    font-size: 13px;
  }
  .navbar .navbar-collapse .dropdown-menu .dropdown-item:hover {
    background-color: transparent !important;
  }
  .navbar .navbar-collapse .dropdown-menu .dropdown-item img {
    width: 55px;
    margin: 25px auto;
    display: block;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    transform: translatex(-8px);
  }
}

.dropdown-item.active,
.dropdown-item:focus {
  background: transparent;
}

@media (min-width: 768px) {
  .navbar-toggler .dropdown-menu {
    left: auto;
    right: 0;
    top: 102% !important;
    width: 73px;
    min-width: auto;
    text-align: center;
    padding: 0;
    margin-left: 15px;
  }
  .navbar-toggler .dropdown-menu .navbar-collapse {
    text-align: center;
  }
  .navbar-toggler .dropdown-menu .navbar-collapse .active {
    background-color: #000;
    color: #fff;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-toggler .dropdown-menu .navbar-collapse .navbar-nav {
    padding: 0;
  }
  .navbar-toggler .dropdown-menu .navbar-collapse .navbar-nav .nav-item a {
    padding: 2px 12px;
    margin-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .navbar-toggler .dropdown-menu li {
    padding: 5px 12px;
  }
  .navbar-toggler .dropdown-menu li img {
    width: 100%;
    border: 1px solid #6e6e6e;
  }
}

@media (max-width: 767.98px) {
  .lang {
    margin-left: 15px;
    border-left: 1px solid #fff;
    padding-left: 15px;
  }
}
.lang .dropdown {
  position: relative;
}
.lang .dropdown .dropdown-toggle {
  width: 100%;
}
@media (min-width: 768px) {
  .lang .dropdown .dropdown-toggle {
    margin-left: 15px;
    padding: 7px 10px;
    width: 100%;
    margin-left: 0;
  }
  .lang .dropdown .dropdown-toggle a {
    background-color: var(--bs-gray-100);
    display: inline-block !important;
  }
}
@media (max-width: 991.98px) {
  .lang .dropdown .dropdown-toggle {
    padding: 0;
  }
  .lang .dropdown .dropdown-toggle .nav-link {
    width: 100%;
    padding: 3px;
  }
}
.lang .dropdown .dropdown-menu {
  text-align: center;
  min-width: auto;
  right: 0;
  left: 0;
  padding: 0;
}
.lang .dropdown .dropdown-menu .dropdown-item.active, .lang .dropdown .dropdown-menu .dropdown-item:focus {
  baxckground-color: transparent;
}
.lang a {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.lang img {
  width: 44px;
  height: 28px;
}
@media (max-width: 991.98px) {
  .lang img {
    width: 50px;
  }
}

.dropdown-menu li {
  transition: all 0.3s;
}
.dropdown-menu li:hover,
.dropdown-menu li .active {
  background: var(--mainColor);
}

/*** start slider ***/
.carousel {
  opacity: 1 !important;
  position: relative;
}
.carousel .carousel-item {
  position: relative;
}
.carousel .carousel-item img {
  height: 100vh;
}
@media (max-width: 767.98px) {
  .carousel .carousel-item img {
    height: 75vh;
  }
}
.carousel .carousel-item .options {
  position: absolute;
  right: 45px;
  bottom: 55px;
  z-index: 90;
}
.carousel .carousel-item .options > * {
  margin: 5px 15px;
  color: #fff;
  font-size: 35px;
  filter: blur(30%);
  opacity: 0.7;
  transition: opacity 0.4s;
}
.carousel .carousel-item .options > *:hover {
  opacity: 1;
}
@media (max-width: 767.98px) {
  .carousel .carousel-item .options {
    bottom: 30px;
    right: 30px;
  }
  .carousel .carousel-item .options > * {
    font-size: 25px;
  }
}
.carousel .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: rgba(19, 64, 81, 0.4784313725);
}
.carousel .carousel-caption h2 {
  font-size: 40px;
  color: #fff;
  backdrop-filter: blur(15%);
  text-transform: capitalize;
}
.carousel .carousel-caption h2 span {
  color: #000;
  background-color: #fff;
  padding: 5px;
  margin-right: 5px;
  padding-left: 8px;
}
.carousel .carousel-caption p {
  font-size: 32px;
  text-transform: capitalize;
  color: #fff;
}
.carousel .carousel-caption .viewMore {
  padding: 9px 51px;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 20px;
  font-size: 21px;
  font-weight: 300;
  background-color: var(--mainColor);
  color: #fff;
  border-radius: 4px;
  display: inline-block;
}
@media (max-width: 767.98px) {
  .carousel .carousel-caption {
    margin-top: 25px;
  }
  .carousel .carousel-caption h2 {
    font-size: 20px;
    font-weight: 600;
    backdrop-filter: blur(20%);
    line-height: 1.6;
  }
  .carousel .carousel-caption p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .carousel .carousel-caption .viewMore {
    font-size: 16px;
    padding: 6px 33px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.carousel .control {
  left: 45px;
  bottom: 35px;
  position: absolute;
  z-index: 90;
}
.carousel .control > * {
  margin: 5px 15px;
  color: #fff;
  font-size: 30px;
  filter: blur(30%);
  opacity: 0.7;
  transition: opacity 0.4s;
}
.carousel .control > *:hover {
  opacity: 1;
}
@media (max-width: 767.98px) {
  .carousel .control {
    bottom: 30px;
    left: 30px;
  }
  * > .carousel .control {
    font-size: 25px;
  }
}

.img-area img {
  height: 346px;
  transition: all 0.4s ease 0s;
}
@media (max-width: 767.98px) {
  .img-area img {
    width: 100%;
  }
}

.img-area:hover img {
  transform: scale(1.2);
}

.img-area {
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius);
}

.single-team:hover .social {
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}

.img-area .social {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  transform: rotateY(180deg) scale(0.5, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-area .social ul {
  display: flex !important;
}
.img-area .social ul li {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 40px;
  width: 40px;
  line-height: 38px;
  text-align: center;
  transition: all 0.4s linear;
  margin-right: 5px;
  color: #fff;
}
.img-area .social ul li a {
  color: #fff;
}
.img-area .social ul li:hover {
  background-color: #fff;
}
.img-area .social ul li:hover i {
  color: #fd5c63;
}

.modal-dialog .modal-header {
  padding-left: 20px;
  padding-right: 20xp;
}
.modal-dialog .modal-body {
  padding-left: 20px;
  padding-right: 20px;
}
.modal-dialog .modal-body .form .parent-img {
  height: 220px;
  background: #ebebeb;
  margin-bottom: 25px;
}
.modal-dialog .modal-body .form .parent-img .row > * {
  margin-top: 10px;
}
.modal-dialog .modal-body .form .parent-img img {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  max-height: 100%;
  width: 100%;
  border-radius: 5px;
}
.modal-dialog .modal-body .form .parent-img input {
  border: 1px solid #000;
  position: absolute;
  height: 90%;
  width: 90%;
  margin: auto;
  z-index: 12;
  opacity: 0;
}
.modal-dialog .modal-body .form .parent-img .fa-image {
  left: 50%;
  font-size: 44px;
  filter: invert(0.8);
}
.modal-dialog .modal-body .form .btn {
  margin-top: 20px;
  background-color: #222;
  transition: background-color 0.8s;
  color: #fff;
  font-size: 15px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.modal-dialog .modal-body .form .btn:hover {
  background-color: var(--mainColor);
}
.modal-dialog .modal-body .form > div {
  margin-top: 20px;
}

/** start our team **/
/* content with bg */
.w3l-content-bg {
  background: url(../images/bg.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
}

.w3l-content-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.44);
  z-index: -1;
}

@media (max-width: 767.98px) {
  .single-team {
    width: 75%;
    margin: auto;
    text-align: center;
  }
  .single-team h3 {
    font-size: 21px;
    font-weight: 600;
  }
}

h4.text-head-content {
  font-size: 45px;
  line-height: 55px;
  color: #fff;
  margin: 20px 0;
  font-weight: bold;
  text-transform: capitalize;
}

.w3l-content-bg p.text-tag {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

@media (max-width: 1080px) {
  h4.text-head-content {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 991px) {
  h4.text-head-content {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (max-width: 414px) {
  h4.text-head-content {
    font-size: 30px;
    line-height: 40px;
  }
}
/* //content with bg */
.serivces {
  background-color: #f8f8f8;
  padding: 2.8em 0;
}
.serivces .item {
  overflow: hidden;
  margin-top: 25px;
}
.serivces .item img {
  transition: all 1.3s ease-in-out;
  min-height: 276px;
  border-radius: 5px;
}
.serivces .item .overlay {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-transform: capitalize;
  display: none;
  opacity: 0;
  transition: all 0.3s;
  padding: 15px;
  z-index: 5;
}
.serivces .item .overlay h4 {
  z-index: 20;
}
.serivces .item .overlay h4:before, .serivces .item .overlay h4:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  transform: rotatex(90deg);
  transition: all 1s;
  z-index: 1;
}
.serivces .item .overlay h4:after {
  bottom: 25%;
}
.serivces .item .overlay:after, .serivces .item .overlay:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 25%;
  background: rgba(0, 0, 0, 0.3);
  transform: rotatex(90deg);
  transition: all 1s;
  z-index: 1;
}
.serivces .item .overlay:before {
  top: 25%;
}
.serivces .item .overlay p {
  width: 60%;
  z-index: 40;
  position: relative;
}
.serivces .item:hover .overlay {
  display: flex;
  opacity: 1;
}
.serivces .item:hover img {
  transform: scale(1.4);
}
.serivces .item:hover .overlay:before, .serivces .item:hover .overlay:after {
  transform: rotate(0);
}
.serivces .item:hover .overlay h4:before, .serivces .item:hover .overlay h4:after {
  transform: rotate(0);
}
.serivces .text-center a {
  padding: 8px 13px;
  display: inline-block;
  background-color: var(--mainColor);
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 25px;
  border-radius: 5px;
}

/** start contact component **/
.contact {
  padding: 3em 0;
}
.contact h4 {
  font-size: 32px;
}
.contact .row {
  text-transform: capitalize;
}
.contact .row .info > * {
  margin-bottom: 15px;
}
.contact .row .info .group {
  font-weight: 600;
}
@media (max-width: 767.98px) {
  .contact .row .info {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.contact .row > div {
  margin-top: 25px;
}
.contact .row > div .list-unstyled li {
  margin-bottom: 10px;
}
.contact .row > div .list-unstyled li span {
  min-width: 114px;
  display: inline-block;
}
.contact .row > div a {
  color: #222;
  font-weight: 600;
  margin-left: 3px;
  text-transform: lowercase;
}
.contact .row > div svg {
  width: 35px;
}
.contact .row .accept {
  border: 1px solid #d7dade;
  border-radius: 4px;
  height: 18px;
  width: 18px;
  display: inline-block;
  position: relaitve;
  margin-right: 15px;
}
.contact .row .form-check {
  margin-top: 15px;
  margin-left: 15px;
}
.contact .row textarea {
  min-height: 200px;
}
.contact .row button {
  padding: 10px 15px;
  width: 130px;
  background-color: #444;
  color: #fff;
  margin: auto;
  margin-top: 25px;
  transition: background 0.3s;
}
.contact .row button:hover {
  background-color: var(--mainColor);
}

/** start footer **/
.footer {
  padding: 3em 0;
  background-image: url("/images/SL.123119.26540.04.jpg");
  background-size: cover;
}
.footer .contacts {
  color: #fff;
  text-transform: capitalize;
}
.footer .contacts > * {
  margin: 0 7px;
  min-width: 33px;
}
.footer .contacts > *:hover,
.footer .contacts > * input:hover {
  text-decoration: underline;
}
.footer .contacts input {
  background-color: transparent;
  border: 0;
  color: #fff;
}
.footer .contacts a {
  color: #fff;
  text-decoration: none;
}
.footer .contacts textarea {
  min-height: 130px;
}
@media (max-width: 767.98px) {
  .footer .contacts {
    flex-direction: column;
  }
}
.footer .social {
  margin-right: 15px;
  margin-top: 15px;
  backdrop-filter: blur(20%);
  right: 0;
  left: auto;
  min-width: 130px;
  padding: 5px;
}
.footer .social a {
  margin-left: 15px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

svg {
  font-size: 31px;
  background-color: #eee;
}

.fa-twitter-square {
  background-color: #248bd2;
}

.fa-facebook-square {
  background-color: #315c9d;
}

.fa-youtube-square {
  background-color: #dd6659;
}

/** end footer **/
.galeria {
  position: relative;
  padding: 1em 0;
}
.galeria .tit {
  color: var(--mainColor) !important;
  color: #ddd;
}
@media (max-width: 767.98px) {
  .galeria .control {
    right: 35px !important;
  }
}
.galeria .contenedorImgs .item {
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}
.galeria .contenedorImgs .item .serivce {
  position: relative;
  overflow: hidden;
}
.galeria .contenedorImgs .item .serivce .delete {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 15px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  z-index: 100;
  filter: grayscale(1);
  transition: filter 0.3s;
}
.galeria .contenedorImgs .item .serivce .delete path {
  color: red;
}
.galeria .contenedorImgs .item .serivce .delete:hover {
  filter: grayscale(0);
}
.galeria .contenedorImgs .item .serivce img {
  max-height: 300px !important;
  width: 100%;
  border-radius: 5px;
  transition: transform 1.5s;
  min-height: 300px;
}
.galeria .contenedorImgs .item .serivce .overlay {
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.galeria .contenedorImgs .item .serivce .overlay p {
  text-align: center;
  text-transform: capitalize;
  bottom: -80px;
  transition: transform 0.5s 0.2s;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 23px;
  padding-left: 30px;
  padding-right: 30px;
  transform: translatey(50px);
  opacity: 0;
}
.galeria .contenedorImgs .item .serivce .overlay:hover p {
  bottom: 0;
}
.galeria .contenedorImgs .item .serivce:hover .overlay {
  opacity: 1 !important;
}
.galeria .contenedorImgs .item .serivce:hover .overlay p {
  transform: translate(0);
  opacity: 1;
  cursor: pointer !important;
}
.galeria .contenedorImgs .item .serivce:hover img {
  transform: scale(1.5);
}
@media (max-width: 767.98px) {
  .galeria .contenedorImgs {
    width: auto !important;
  }
  .galeria .contenedorImgs:first-child {
    margin-top: 0 !important;
  }
}

.fullPreview {
  justify-content: stretch !important;
}
.fullPreview .cerrarModal {
  width: 34px;
  height: 34px;
}
@media (max-width: 767.98px) {
  .fullPreview .wrapper {
    width: 100%;
  }
  .fullPreview .wrapper .desc {
    padding: 13px;
    width: 100%;
  }
  .fullPreview .wrapper .desc h2 {
    font-size: 17px;
    padding: 10px;
  }
  .fullPreview .wrapper .desc li {
    font-size: 15px;
  }
}
@media (max-width: 767.98px) {
  .fullPreview .titulo {
    width: 77% !important;
    font-size: 20px !important;
    padding: 17px !important;
  }
}
.fullPreview .parent {
  margin-bottom: 25px;
}
.fullPreview .parent img {
  margin-top: 30px;
}
.fullPreview .desc h3 {
  font-size: 21px;
  margin-bottom: 10px;
  text-transform: capitalize;
  background-color: var(--mainColor);
  padding: 13px;
  border: 1px solid #111;
  color: #fff;
  border-radius: 7px;
}
.fullPreview .desc ul {
  margin-left: 15px;
  list-style: circle;
}
.fullPreview .desc ul li {
  margin-top: 7px;
  position: relative;
}

form .alert-danger {
  padding: 6px;
  margin: 0;
  font-size: 14px;
}

.serivces.modal .btn-primary {
  min-width: 130px;
}
.serivces.modal .modal-dialog {
  max-width: 100% !important;
  width: 45%;
}
@media (max-width: 767.98px) {
  .serivces.modal .modal-dialog {
    width: auto;
  }
}
.serivces.modal .parent-items {
  border: 1px dotted #7c7c7c;
  padding: 19px;
  border-radius: 11px;
  padding-bottom: 57px;
  position: relative;
}
.serivces.modal .parent-items .form-floating {
  margin-bottom: 15px;
}
.serivces.modal .parent-items .add-item {
  min-width: 80px;
  margin-top: 0 !important;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.serivces.modal .parent-items .add-item path {
  color: #fff;
}

#serivceSlider {
  max-width: 50%;
  margin-bottom: 50px;
  margin-top: 40px;
}
#serivceSlider img {
  width: 100% !important;
  height: 400px !important;
  max-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  height: 100%;
}



/*# sourceMappingURL=style.css.map */
