@import "./scss/_functions";
@import "./scss/_variables";
@import "./scss/_mixins";

// @import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");

body {
  line-height: auto !important;
}

:root {
  --mainColor: #001733;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid var(--mainColor);
}

// body * {
//   font-family: "Rajdhani", sans-serif;
// }

.head {
  padding: 0.5em 0;
  text-align: center;
  h2 {
    text-transform: capitalize;
    font-size: 42px;
    color: var(--mainColor);
  }
  div {
    text-align: center;
    padding: 3px 0 15px;
    & > * {
      display: inline-block;
    }
    .fa-headphones {
      font-size: 25px;
      margin: 0 10px;
      transform: translatey(5px);
      color: var(--mainColor);
    }
    span {
      width: 100px;
      border-top: 2px solid var(--mainColor);
    }
  }
}

.notification {
  position: fixed;
  right: 20px;
  top: 20px;
  height: 60px;
  line-height: 60px;
  text-align: left;
  z-index: 160;
  font-size: 20px;
  border-radius: 4px;
  display: flex;
  background: #fff;
  width: 400px;
  align-items: center;
  padding: 0 32px;
  transition: transform 0.8s;
  transform: translatex(465px);
  background: #fff;

  p {
    text-transform: capitalize;
  }

  path {
    color: inherit;
  }
}

.show {
  transform: translate(0);
  transition: transform 1.4s;
}

.success {
  color: var(--bs-success);
  border-bottom: 4px solid var(--bs-success);

  p {
    color: var(--bs-success);
  }

  svg {
    color: var(--bs-success);
    margin-right: 10px;
  }
}

.danger {
  border-bottom: 4px solid var(--bs-danger);
  p {
    color: var(--bs-danger);
  }
  svg {
    color: var(--bs-danger);
    margin-right: 10px;
  }
}

input:not([type="email"])::placeholder {
  text-transform: capitalize;
}

.form-floating > label {
  text-transform: capitalize !important;
}

/* pages */
@import "./scss/pages/_home";
@import "./scss/pages/_serivces";
