<footer class="footer text-center">
  <div class="container">
    <div class="content">
      <div class="contacts d-flex justify-content-center">
        <a download name="sameh saued" href="<%-
        lang === 'eng'
        ? 'files\Terms-Condition\Creative_Factor_AGB_Roland_Gropp_ProEntertainment_08_Maerz_2023_ENG.pdf'
        : 'files\Terms-Condition\Creative_Factor_AGB_Roland_Gropp_ProEntertainment_08_Maerz_2023_GER.pdf' %>">
          terms and conditions

        </a>


        <span> * </span>
        <!-- <a href="<%- lang === 'eng' ? '\files\data-privacy\Creative_Factor_Impressum_Roland_Gropp_ProEntertainment_09_April_2023_ENG.pdf': '\files\imprints\Creative_Factor_Impressum_Roland_Gropp_ProEntertainment_09_April_2023_GER.pdf' %>"> imprints </a> <span> * </span> -->
        <a href="/imprints"> imprints </a> <span> * </span>


        <a href="/data-privacy">
          Data Privecy
        </a>
      </div>
      <div class="social d-flex justify-content-center">
        <a href="#">
          <i class="fab fa-twitter-square"></i>
        </a>

        <a href="#">
          <i class="fab fa-facebook-square"></i>
        </a>

        <a href="#">
          <i class="fab fa-youtube-square"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram-square"></i>
        </a>
        <a href="#">
          <i class="fab fa-tiktok"></i>
        </a>
      </div>

      <div class="copyright text-center mt-3 text-light">
        Copyright (C) Roland Gropp ProEntertainment 2000 - 2023 - All rights reserved
      </div>
    </div>
  </div>
</footer>

<style></style>