<section class="banner">
  <div class="container position-relative">

    <div class="position-absolute">
      <h2 class="text-capitalize">
        <%= namePage %>
      </h2>

      <div class="breadcrumb text-capitalize">
        <a href="/"> Home </a> <span> | </span>
        <%= namePage %>
      </div>
    </div>
  </div>
</section>