<title class="text-capitalize">
  <%= title %> | ProEntertainment
</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="UTF-8" />
<meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script>
  addEventListener(
    "load",
    function() {
      setTimeout(hideURLbar, 0);
    },
    false
  );

  function hideURLbar() {
    window.scrollTo(0, 1);
  }
</script>
<!-- //Meta tag Keywords -->

<!-- Custom-Files -->
<link href="css/all.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<!-- Bootstrap css -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom-Files -->